--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
python-jose[cryptography]
bcrypt
firebase-admin
email-validator
python-multipart
python-dotenv
sentence-transformers
faiss-cpu
torch
transformers
httpx
requests
numpy
openpyxl
slowapi
jinja2
google-cloud-firestore
google-cloud-storage
google-genai
google-ai-generativelanguage
google-api-python-client
google-auth
